
@font-face {
    font-family: Agency;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/agency-fb-bold.woff);
}
/*#marquee {*/
/*    font-family: Avenir, sans-serif;*/
/*    marging: 0;*/
/*}*/

#marquee {
    margin-top: 3rem;
    perspective: 500px;
    font-size: 0;
    font-family: Agency, sans-serif;
    /*font-family: Avenir, sans-serif;*/
    marging: 0;
}

#marquee div {
    display: inline-block;
    height: 12rem;
    width: 30rem;
    position: relative;
}

#marquee div:first-of-type {
    background: #e5233e;
    transform-origin: top right;
    transform: rotateY(-40deg);
    color: #fff;
}

#marquee div:last-of-type {
    background: #b31e31;
    transform-origin: top left;
    transform: rotateY(45deg);
    color: #f8c9d9;
}

#marquee div {
    font-size: 8rem;
    overflow: hidden;
}

#marquee div span {
    position: absolute;
    width: 400%;
    line-height: 1.4;
}

@-webkit-keyframes leftcrawl {
    to {
        transform: translateX(-100rem);
    }
}

@keyframes leftcrawl {
    to {
        transform: translateX(-100rem);
    }
}
@-webkit-keyframes rightcrawl {
    to {
        transform: translateX(-130rem);
    }
}
@keyframes rightcrawl {
    to {
        transform: translateX(-130rem);
    }
}
#marquee div:first-of-type span {
    transform: translateX(60rem);
    -webkit-animation: leftcrawl 14s linear infinite;
    animation: leftcrawl 14s linear infinite;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
}

#marquee div:last-of-type span {
    transform: translateX(30rem);
    -webkit-animation: rightcrawl 14s linear infinite;
    animation: rightcrawl 14s linear infinite;
}

form {
    margin-top: 3rem;
    background: #334;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

input[type=text] {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 22rem;
}

input[type=text] {
    padding: 0.5rem;
}

label {
    margin: 1rem;
}

@media all and (max-width: 993px) {
    #marquee {
        perspective: none;
    }

    #marquee div:last-of-type {
        opacity: 0;
        height: 0;
    }

    #marquee div:first-of-type {
        width: 80%;
    }
}


@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@-webkit-keyframes throb{
    0%{
        -webkit-transform: scale(1);
    }
    35%{
        -webkit-transform: scale(1.2);
    }
    85%{
        -webkit-transform: scale(1);
    }
}

.wrapper {
    width: 90vmin;
    height: 90vmin;
    position: relative;
    margin: 5vmin auto;
}

div.throb {
    -webkit-animation: throb 0.5s infinite;
    animation: throb 0.5s infinite;
    animation-delay: 0.8s;

}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    width: 30vmin; height: 30vmin;
    line-height: 30vmin;
    display: inline-block;
    position: absolute;
    font-size: 30vmin;
    text-align: center;
    transition: all 1s ease;
}

label {
    text-shadow: 3vmin 3vmin 10vmin rgba(0,0,0,0.5);
}
label:hover {
    color: #c32a2a;
    cursor: pointer;
}

#ck1 + label,
#ck2 + label {
    border-radius: 50%;
    top: 0;
}

#ck1:checked + label,
#ck2:checked + label,
#ck3:checked + label {
    background: #c32a2a;
    font-size: 0;
    transition: all 1s ease;
}

#ck1 + label {
    left: 0;
}

#ck2 + label {
    right: 10vmin;
}

#ck1:checked + label,
#ck2:checked + label {
    width: 54vmin; height: 54vmin;
    border-radius: 50%;
    line-height: 54vmin;
}

#ck2:checked + label {
    right: 0;
}

#ck3 + label {
    bottom: 5vmin; left: 50%;
    margin: 0 -9vmin;
}

#ck3:checked + label {
    width: 49.5vmin; height: 49.5vmin;
    bottom: 17.28vmin; left: 29.16vmin;
    transform: rotate(45deg);
    line-height: 4.86vmin;
}

#aaa {
    display: inline-block;
    text-align: left;
    position: absolute;
    bottom: 0vmin; left: 0vmin;
    margin-bottom: -3vmin;
    font-size: 6vmin;
    color: #999;
}
